body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(131, 0, 0);
}

.parallax {
    background-image: url("/imgs/Ferrari-Logo-WP4.jpeg");
    /* Replace with your image path */
    height: 100vh;
    /* Full height */
    background-attachment: fixed;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Cover the entire area */
}

.content {
    height: 100vh;
    /* Set height for the content section */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Semi-transparent background */
    padding: 20px;
    text-align: center;
}

.navbar-nav a {
    font-family: "ccclobberintimecrunchy", sans-serif;
    color: #8a0000;
    font-weight: 600;
    font-style: normal;
}

#navbarNav a {
    font-family: "ccclobberintimecrunchy", sans-serif;
    color: #8a0000;
    font-weight: 600;
    font-style: normal;
}

.navbar-brand {
    color: #8a0000;
    margin-left: 20px;
}

.nav-link :active {
    background-color: #a3610a;
}

nav a {
    font-family: "ccclobberintimecrunchy", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: relative;
    color: #ffbe32;
    text-decoration: none;
}

#navbarNav a:hover {
    color: #ffffff;
}

nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff8a05;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav a:hover::before {
    color: #ffffff;
    transform: scaleX(1);
}

nav div {
    text-align: center;
}


.card {
    height: fit-content;
    width: fit-content;
}

.btn {
    background-color: rgb(167, 6, 33);
    border-color: rgb(197, 212, 224);
}

.info {
    text-align: center;
    font-size: 30px;
    color: #da4343;
    background-color: rgb(15, 9, 9);
    border-radius: 25px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;

}

.history {
    border: 5px 5px #d61c1c;
    border-radius: 25px;

}

p {
    color: #eb0d0d;
    font-size: 27px;
}

.words {
    border-radius: 25px;
    padding: 15px;
}

.his {
    border-radius: 25px;
    border: 7px solid rgb(177, 0, 0);
}

h3 {
    font-family: "ccclobberintimecrunchy",
sans-serif;
font-weight: 600;
font-style: normal;
position: relative;
color: #ffbe32;
text-decoration: none;
}
